<div class="main-content">
    <div class="container-fluid">
       <div class="row">
        
            <div class="col-md-12" [routerLink]="['/admin/createuser']"> <button type="button" class="btn btn-primary" style="float:right;">Add New User</button></div>
			
		</div><br/>
        <div class="row">
        
            <div class="col-md-12"> 
				
<table class="table table-striped" *ngIf="ListUser && ListUser.length>0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone No</th>
	  <th scope="col">Role</th>
	  <th scope="col">Confirmation Link</th>
	  <th scope="col">Status</th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of ListUser, let i=index;">
      <th scope="row">{{i+1}}</th>
      <td>{{user.fname}} {{user.lname}}</td>
      <td>{{user.eMail}}</td>
      <td>{{user.CellPhone}} </td>
	   <td><span *ngIf="user.role_id==0">Admin</span><span *ngIf="user.role_id==1">Author</span><span *ngIf="user.role_id==2">User</span> </td>
      <td><a target="_blank" href="{{user.confirmationLink}}">Click Here</a> </td>
      <td>{{user.status}}</td>
	  <td style="cursor:pointer; text-decoration:underline;" (click)="goToEdit(user.eMail)">Edit</td>
    </tr>
    
  </tbody>
</table>
			</div>
       </div>
    </div>
</div>
