<section class="login-wrap mtb-40">
  <div class="container">
      <div class="row justify-content-center" *ngIf="!error">
        <div class="col-md-6">
            <div class="login-box">
                <h1>Generate Password</h1>
                <div class="alert alert-danger" *ngIf="genpassError">
                   {{genpassError}}
                </div>
               <form [formGroup]="genpassForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" formControlName="newpassword" class="form-control" placeholder="New Password" required>
                        <div *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)" class="error">
                          <div *ngIf="newpassword.errors">
                            New password is required.
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="confirmpassword" formControlName="confirmpassword" class="form-control" placeholder="Confirm Password" required>
                        <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)" class="error">
                          <div *ngIf="confirmpassword.errors">
                            Confirm Password is required.
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!genpassForm.valid" class="btn btn-primary">Generate Password</button>
                    </div>
                </form> 
            </div>         
        </div>
      </div>
      <div class="service-error" *ngIf="error">
        <h1>{{error.errorTitle}}</h1>
        <h3>{{error.errorDesc}}</h3>
     </div>
  </div>
</section>